<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>517098757539-unfbg9ilnvkch7f3uhvglp3ovs1qo6gc.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.517098757539-unfbg9ilnvkch7f3uhvglp3ovs1qo6gc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.517098757539-unfbg9ilnvkch7f3uhvglp3ovs1qo6gc</string>
			</array>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
